@import '../../styles/variables.scss';

.sidebarContainer {
  background-color: $color-bone; 
  width: 350px;
  height: 100vh;
  border-radius: 0 25px 25px 0;
  padding: 15px 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chipsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  > div {
    display: flex;
  flex-direction: column;
  gap: 10px;
    > label {
      font-size: 14px;
    }
  }
}